<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/admin/dashboard" class="brand-link">
        <span class="brand-text font-weight-light">Event Management</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

        <!-- Sidebar Menu -->
        <nav class="mt-2">

            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->

                <li class="nav-item">
                    <a th:href="@{/teacher/}" class="nav-link">
                        <i class="nav-icon fas fa-calendar"></i>
                        <p>
                            Teachers
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/}" class="nav-link">
                        <i class="nav-icon fas fa-calendar"></i>
                        <p>
                            Courses
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/salary/}" class="nav-link">
                        <i class="nav-icon fas fa-calendar"></i>
                        <p>
                            Salary
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/user/}" class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            Setting
                        </p>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
